name: CI

permissions:
  contents: read

on:
  pull_request:
  push:
    branches: ["main"]

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

env:
  CARGO_TERM_COLOR: always
  RUST_BACKTRACE: full
  RUSTFLAGS: "-C link-arg=-fuse-ld=lld -D warnings"

jobs:
  check_formatting:
    name: check formatting
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: setup Rust toolchain
        uses: dtolnay/rust-toolchain@nightly
        with:
          toolchain: nightly
          components: rustfmt

      - run: cargo +nightly fmt --all -- --check

  check_and_test:
    name: check and test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: setup Rust toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable
          components: rustfmt, clippy

      - name: cache Cargo build files
        uses: Leafwing-Studios/cargo-cache@43ec9a5bad6e7f174e7fc65dcf533de75ff65881 # v2

      - name: prepare build env
        run: sudo apt-get install -y lld librdkafka-dev libsasl2-dev

      - run: cargo check
      - run: cargo clippy -- -Dwarnings --force-warn deprecated --force-warn dead-code

      - name: unit tests
        run: cargo test
